* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "user widgets";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 250px 1fr;
  min-height: 100%;
}

header {
  grid-area: header;
  background: #71eeb8;
  font-weight: 800;
  padding: .4em .2em .2em 1em;
  font-size: 2em;
}

.title {
  margin-top: .4em;
}

.icon {
  text-align: center;
  color: gray;
}

.big-display-stat {
  font-size: 2em;
  line-height: 85%;
  color: #71eeb8;
}

.medium-display-stat {
  font-size: 1.5em;
  line-height: 85%;
  color: #71eeb8;
}

.activity-score {
  flex: 1 0 0;
}

.scores {
  display: flex;
  justify-content: space-around;
}

.user-info {
  grid-area: user;
  background: lightgray;
  padding: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.user-info * {
  margin-bottom: .4em;
}

.widget-section {
  display: grid;
  grid-template-areas:
    "hydration sleep activity";
    grid-template-columns: .5fr .8fr 1fr;
  grid-area: widgets;
  background-color: lightgray;
  padding-right: 1em;
}

.hydration {
  grid-area: hydration;
  padding: 1em 0 0 1em;
  text-align: center;
}

.sleep {
  grid-area: sleep;
  padding: 1em 0 0 1em;
  text-align: center;
}

.activity {
  grid-area: activity;
  padding: 1em 0 0 1em;
  text-align: center;
}

.card {
  width: 100%;
  padding: 1.5em;
  margin-bottom: 1em;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.admin-main {
  display: grid;
  grid-template-areas:
    "hydration sleep"
    "activity1 activity2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
